.webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.webcam-video {
    width: 100%;
    border-radius: 8px;
    background-color: #efefef;
    height: 360px;
}

.webcam-controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.filter-container {
    width: 100%;
    margin-bottom: 1rem;
}

.search-container {
    position: relative;
}

.filter-search {
    position: relative;
    background: transparent !important;
    z-index: 1;
    width: 100%;
}

.ghost-input {
    z-index: 0;
    background: transparent !important;
}